body{
    background-color: antiquewhite;
}


*{
    padding: 0;
    margin: 0;
}
.container{
    margin-right: 5px;
    margin-left: 5px;
}

.row{
    width: 100%;
    margin-bottom: 10px;
}
header{
    margin-bottom: 10px;
}

h2{
    margin-bottom: 10px;
}

img{
    width: 100%;
}

.image{
    width: 40%;
}
.element-1{
    display: flex;
    justify-content: space-between;
}
p{
    width: 50%;
}

.element-2 {
    display: flex;
    justify-content: space-between;
}

.titulofoto{
    text-align: right;
}

span{
    color: rgb(231, 62, 10);
    font-weight: bold;
    
}

form{
    margin-top: 20px;
    margin-bottom: 20px;
}

